
.aurora-watch {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 0;
  color: #FF5349;
  line-height: 2em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
