.dropdown {
  opacity: 0;
  position: absolute;
  z-index: 1000;
  background-color: #17141a;
  width: 100%;
  height: 100%;
  top: -100vh;

  .links {
    display: flex;
    flex-direction: column;
    height: 50%;
    max-width: 650px;
    width: 50%;
    margin: 0 auto;
    padding-top: 25vh;
    font-family: adelle-sans, sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    color: #FF5349;
  
    a {
      text-decoration: none !important;
      color: #FF5349;
      margin: 0px 5px;
      transition: 0.5s;
  
      &:hover {
        font-weight: 100;
        color: #FFFFFF;
      }
    }
  }
}

@media (max-width: 798px) {
  .dropdown {
    padding-left: 0;
    font-size: 1em;

    .links {
      width: 90%;
    }

    h2 {
      width: 100vw;
    }
  }
}

.btn-menu, .btn-exit {
  position: absolute;
  font-size: 2em;
  color: #FF5349;
  top: 50px;
  right: 50px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: adelle-sans, sans-serif;
  font-weight: 100;
}