.body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-box-shadow:inset 0px 0px 0px 10px #FF5349;
  -moz-box-shadow:inset 0px 0px 0px 10px #FF5349;
  box-shadow:inset 0px 0px 0px 10px #FF5349;
}

.title {
  background: #FF5349;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14.5em;
  line-height: 0.9em;
  margin: 20px 20px 0 20px;
  font-family: adelle-sans, sans-serif;
  font-weight: 900;
  font-style: normal;
}

.subtitle {
  background: #FF5349;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
  line-height: 0.9em;
  margin: 0px 0px 0px 20px;
  padding-left: 10px;
  font-family: adelle-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.links {
  margin: 50px 0px 0px 20px;
  padding-left: 10px;
  font-family: adelle-sans, sans-serif;
  font-weight: 100;
  font-size: 1.5em;
  color: #FF5349;

  a {
    text-decoration: none !important;
    color: #FF5349;
    margin: 0px 5px;
    transition: 0.5s;

    &:hover {
      font-weight: 100;
      color: #FFFFFF;
    }
  }
}

@media (max-width: 798px) {
  .title {
    text-align: center;
    margin: 20px auto;
    font-size: 3em;
    margin-bottom: 0;

    .italics {
      padding-right: 0;
      font-family: bicyclette, sans-serif;
      font-weight: 500;
      letter-spacing: 1px;
    }

    .bold {
      font-size: 1em;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }

  .subtitle {
    display: none;
  }
}
