
.movie-details {
	h1 {
		display: block;
		text-align: center;
		font-size: 6rem;
		margin-top: .2em;
	}

	div::before {
		content: '<-- ';
	}

	div {
		display: block;
		color: black;
		font-weight: bolder;
		background-color: #FF5349;
		cursor: pointer;
		width: 100%;
		margin: 0 auto;
		padding: .5em;
		margin-bottom: 50px;
	}

	img {
		padding-top: 50px;
		width: 100%;
	}
}